{% extends 'education/admin/admin_navbar.html' %}
{% load static %}
{% block title %} Delete student Confirmation {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

 <div class="container row justify-content-center p-4">
    <div class="col-md-5">
        <form method="post">{% csrf_token %}
            <p class="dark-blue ">Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <input class="btn brown-bg dark-blue" type="submit" value="Confirm">
        </form>
    </div>

 </div>

{% endblock %}