{% extends 'education/admin/admin_navbar.html' %}
{% load static %}
{% block title %} Admin Panel {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<section>
    <div class="container">
        {% for message in messages %}
            <div class="container">
                <div class="row p-5 justify-content-center">
                    <div class="">
                        <h2 class="brown-bg p-1 dark-blue col-md-6 mb-5">{{ message.full_name }} Message</h2>
                        <div class="row">
                            <div class="col-md-2">
                                <p class=" p-1 dark-blue fw-bold  hed-color "> Name</p>
                            </div>
                            <div class="col-md-8">
                                <p class=" p-1 dark-blue col-md-8">{{ message.full_name }}</p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class=" p-1 dark-blue fw-bold  hed-color "> email</p>
                            </div>
                            <div class="col-md-8">
                                <p class=" p-1 dark-blue col-md-8">{{  message.email }}</p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <p class=" p-1 dark-blue fw-bold  hed-color "> Message Content</p>
                            </div>
                            <div class="col-md-8">
                                <p class=" p-1 dark-blue col-md-8">{{  message.message_content }}</p>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 

    </div>
</section>
{% endblock %}