{% extends 'education/admin/admin_navbar.html' %}
{% load static %}
{% block title %} All Students List {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<section>
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center p-4">
        <div class="col-md-12 col-xl-10">
  
          <div class="card">
            <div class="card-header p-3">
              <h5 class="mb-0">Student List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative;">
  
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th scope="col">Student</th>
                    <th scope="col">username</th>
                    <th scope="col">Major</th>
                    <th scope="col">University</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr class="fw-normal">
                        <a  href="{% url 'student-detail' student.id %}" >
                            <th>
                                <img src="{{ student.get_photo_url }}"
                                  class="shadow-1-strong rounded-circle" alt="avatar 1"
                                  style="width: 55px; height: 55px;">
                                <span class="ms-2">{{ student.full_name }}</span>
                              </th>
                              <td class="align-middle">
                                  <span>{{ student.user.username }}</span>
                              </td>
      
                              <td class="align-middle">
                                <span>{{ student.major }}</span>
                              </td>
                              
                              <td class="align-middle">
                                <h6 class="mb-0"><span >{{ student.university }}</span></h6>
                              </td>
                        </a>
                        <td class="align-middle">
                          <a class="btn btn-outline-danger dark-blue" href="{% url 'student-delete' student.id %}" data-mdb-toggle="tooltip" title="Remove">delete </a>
                              <a class="btn brown-bg dark-blue" href="{% url 'student-detail' student.id %}"> view </a>
                        </td>
                      </tr>
                    {% endfor %} 
 
                </tbody>
              </table>
  
            </div>
            
          </div>
  
        </div>
      </div>
    </div>
  </section>
{% endblock %}
