<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'landingPage/style.css' %}">
    <title>change password</title>
  
  </head>
  <body>
    

<section class="p-4 mynav mt-5">
    <form class="container mt-3" method="POST" name="change_password" onsubmit="return checkPassword()">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">Username</i></label>
                <input type="text" class="form-control mt-2" name="username" value="{{request.user}}" readonly>
            </div>
            <div class="form-group col-md-6">
                <label><i style="font-weight: bold;">Current Password</i></label>
                <input type="password" class="form-control mt-2" name="current_password" placeholder="Current Password">
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">New Password</i></label>
                <input type="password" class="form-control mt-2" name="new_password" placeholder="Enter the new password">
            </div>
        </div>
    
        <div class="row mt-4">
            <div class="form-group col-md-12">
                <label><i style="font-weight: bold;">Confirm Password</i></label>
                <input type="password" class="form-control mt-2" name="confirm_password" placeholder="Confirm the new password">
            </div>
        </div>
    
        <input type="submit" class="btn brown-bg mt-4" value="Update Password">
    </form>

</section>

<script>
    function checkPassword() {
        if (document.change_password.new_password.value != document.change_password.confirm_password.value) {
            alert("New Password and Confirm Password fields does not match each other.");
            document.change_password.confirm_password.focus();
            return false;
        }
        return true;
    }

    {% if alert %}
    alert("Password Updated Successfully.");
    document.location = "/logout"
    {% endif %}

    {% if currpasswrong %}
    alert("Current Password is wrong..");
    document.location = "/change_password"
    {% endif %}
</script>

</body>